parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - "#Offset '.*' does not exist on array#"
    parallel:
        maximumNumberOfProcesses: 2
    level: 3
    paths:
        - src
    scanDirectories:
        - vendor
